{% extends 'base.html.twig' %}

{% block title %}Profil {{user.pseudo}} {% endblock %}

{% block body %}

    <section class="container">
        <article class="">
            {# bouton voir/modifier #}
            {# {% if app.user %} #}
            <div>
            <button>voir</button>
            <button>modifier</button>
            </div>
            {# {% endif %} #}
            
            {# left column #}
            <div class="" >
                <img src="{{ asset("uploads/images/" ~ user.photo) }}" class="img-fluid img-thumbnail" alt="{{user.photo}}">
                <p>note: </p>
            </div>

            {# rigth column#}
            <div class="" >
                {# part name town #}
                <div>
                    <h2>{{user.pseudo}}</h2>
                    <p>ville de {{user.town.name}} ({{user.town.zipcode}})</p>
                </div>

                {# part pref numberOfTrip #}
                <div>
                    <div class="userpref">
                        <h4>Préférences:</h4>
                    </div>
                    <div class="numberOfTrip">
                        <p>nombre de trajet: <br>
                        quelques exemples:
                        </p>
                    </div>
                </div>

                <div>
                {{form(editform)}}
                </div>

            </div>   
        </article>
    </section>

{% endblock %}
