{% extends 'base.html.twig' %}

{% block title %}Profil {{user.pseudo}} {% endblock %}

{% block body %}

    <section class="container">
        <article class="row">
            {# bouton voir/modifier #}
            <div class="col">
                <button class="buttonClass profilButtonClass col-2">voir</button>
                <a href="/profile/{{user.id}}"><button class="buttonClass profilButtonClass col-2">annuler</button></a>
            </div>
            {# photo & name/town #}
            <div class="row">
                <div class="row col-xl-6">
                    <div class="col-6 col  mt-2" >
                        <img src="{{ asset("uploads/" ~ user.photo) }}" class="img-fluid img-thumbnail" alt="{{user.photo}}">
                        <p>note: 4/5</p>
                    </div>

                    <div class="profileIndexMarginClass col-5" >
                        {# part name town #}
                        <div>
                            <h2>{{user.pseudo}}</h2>
                            <span>ville de </span>
                            <h3>{{user.town.name}} ({{user.town.zipcode}})</h3>
                            <a href="/reset-password">Modifier le mot de passe</a>
                        </div>
                </div>
            </div>

            {# part pref numberOfTrip #}
            <div class="row col-xl-6">
                <div class="profileIndexWrapClass profileIndexMarginClass col-5">
                    <h4>Véhicules</h4>
                    <a href="/car/new">Ajouter un véhicule</a>
                    {% for car in carUser %}
                        <p>
                            marque: {{car.brand}}<br>
                            modèle: {{car.typeCar}}<br>
                        </p>
                    {% endfor %}
                </div>
                <div class="profileIndexWrapClass profileIndexMarginClass col-5 ">
                    <h4>Préférences:</h4>
                    {% for car in carUser %}
                    <ul>
                    {% for spe in car.specificities %}
                            <li>{{ spe.name }}</li>
                    {% endfor %}
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </article>

        {# article contenant le formulaire de modification #}
        <article class="registerFormMainClass">
            <div class="registerFormWrapClass">              
                <div class="registerFormClass"> 
                    {{ form_errors(editform) }}

                    {{ form_start(editform) }}
                    <span class="formItemClass">
                        {{ form_row(editform.photo) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.email,   
                        {'attr': {'required': 'required'}}) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.pseudo, 
                        {'attr': {'required': 'required'}}) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.firstname, 
                        {'attr': {'required': 'required'}}) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.lastname, 
                        {'attr': {'required': 'required'}}) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.phone, 
                        {'attr': {'required': 'required'}}) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.address, 
                        {'attr': {'required': 'required'}}) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.zip_code, {
                            'attr': {
                                'class': 'js-zip-code'
                            }
                        }) }}
                        <div class="mb-3">
                            <select class="form-control" id="town-select" style="display: none;">
                                <option value="">Sélectionnez une ville</option>
                            </select>
                        </div>
                        {{ form_widget(editform.town) }}
                    </span>
                    <span class="formItemClass">
                        {{ form_row(editform.driving_license, 
                        {'attr': {'required': 'required', }}) }}
                    </span>

                    {# <span class="formItemClass">
                        {{ form_row(editform.plainPassword, 
                        ) }} 
                    </span> #}
                    
                    <span class="formItemClass">
                        {{ form_row(editform.agreeTerms, 
                        {'attr': {'required': 'required'}}) }}
                    </span>

                    <button type="submit" class="btn buttonClass">S'enregistrer</button>
                    {{form_row(editform._token)}} {# permet de personnalisé le formulaire en arrêtant l'affichage des champs ici le password#}
                    {{ form_end(editform, {'render_rest':false}) }}
                </div>  
            </div>
        </article>
             
        
    </section>

{% endblock %}
