{% extends 'base.html.twig' %}

{% block title %}Profil {{user.pseudo}}{% endblock %}

{% block body %}
<main>
    <section class="container">
        <article class="">
            {# bouton voir/modifier #}
            {# {% if app.user %} #}
            <div>
            <button>voir</button>
            <a href="/profile/edit/{{user.id}}"><button>modifier</button></a>
            </div>
            {# {% endif %} #}
            
            {# left column #}
            <div class="" >
                <img src="{{ asset("uploads/images/" ~ user.photo) }}" class="img-fluid img-thumbnail" alt="{{user.photo}}">
                <p>note: </p>
            </div>

            {# rigth column#}
            <div class="" >
                {# part name town #}
                <div>
                    <h2>{{user.pseudo}}</h2>
                    <p>ville de {{user.town.name}} ({{user.town.zipcode}})</p>
                </div>

                {# part pref numberOfTrip #}
                <div>
                    <div class="profileCarContainerClass">
                    <h4>Véhicule(s):</h4>
                        <p>
                        marque <br>
                        modele <br>
                        </p>
                        {% if app.user %}
                        <button>Modifier</button>
                        {% endif %}
                    </div>
                    <div class="userpref">
                        <h4>Préférences:</h4>
                    </div>
                    <div class="numberOfTrip">
                        <p>nombre de trajet: <br>
                        quelques exemples:
                        </p>
                    </div>
                </div>

            </div>   
        </article>
    </section>
</main>
{% endblock %}
