{% extends 'base.html.twig' %}

{% block title %}Profil {{user.pseudo}}{% endblock %}

{% block body %}
<main>

    <section class="container text-center">
        <article class="">
            {# bouton voir/modifier #}
            {# {% if app.user %} #}
            <div>
                {% if app.user and app.user.id == user.id %}
                    <button class="buttonClass profilButtonClass">voir</button>
                    <a href="/profile/edit/{{user.id}}"><button class="buttonClass profilButtonClass">modifier</button></a>
                {% elseif app.user %}
                    <a href="/profile/{{app.user.id}}"><button class="buttonClass profilButtonClass col-2">retour</button></a>
                {% else %}
                    <a href="/"><button class="buttonClass profilButtonClass col-2">accueil</button></a>
                {% endif %}

            </div>
            {# {% endif %} #}
            
            {# photo & name/town #}
            <div class="row">
                <div class="col-5 mt-2" >
                    <img src="{{ asset("uploads/" ~ user.photo) }}" class="img-fluid img-thumbnail" alt="{{user.photo}}">
                    <p>note: 4/5</p>
                </div>

                <div class=" profileIndexMarginClass col-5" >
                    {# part name town #}
                    <div>
                        <h2>{{user.pseudo}}</h2>
                        <p>ville de {{user.town.name}} ({{user.town.zipcode}})</p>
                        {% if app.user and app.user.id == user.id %}
                            <a href="/reset-password">Modifier le mot de passe</a>
                        {% endif %}
                    </div>
                </div>

                {# part pref numberOfTrip #}
                <div class="row">
                    <div class="profileIndexWrapClass profileIndexMarginClass col-5">
                        <h4>Véhicules</h4>
                        {% if app.user and app.user.id == user.id %}
                            <a href="/car/new">Ajouter un véhicule</a>
                        {% endif %}
                        {% for car in carUser %}
                            <p>
                                marque: {{car.brand}}<br>
                                modèle: {{car.typeCar}}<br>
                            </p>
                        {% endfor %}
                    </div>
                    <div class="profileIndexWrapClass profileIndexMarginClass col-5 ">
                        <h4>Préférences:</h4>
                        {% for car in carUser %}
                           <ul>
                           {% for spe in car.specificities %}
                                <li>{{ spe.name }}</li>
                           {% endfor %}
                           </ul>
                        {% endfor %}
                    </div>
                </div>
                    <div class="profileIndexWrapClass profileIndexMarginClass col-10 ">
                    <h4>{{ tripUser }} trajet(s) proposé(s)</h4>
                    {% for trip in user.trips %}
                        <span> le: {{ trip.dateStart|date('d/m/y') }} </span>
                        <p>Départ: {{trip.townStart.name}} </p>
                            {% for step in trip.steps %}
                                <p>Arrivée: {{step.townStep.name}}</p>
                            {% endfor %}  
                        <span>Places disponibles: {{trip.nbPassenger}}</span>
                    {% endfor %}
                        
                    </div>
                
            </div> 
        </article>
    </section>
</main>
{% endblock %}
