{% extends 'base.html.twig' %}

{% block title %}Profil {{user.pseudo}}{% endblock %}

{% block body %}
<main>
    <section class="container">
        <article class="row">
            {# bouton voir/modifier #}
            {# {% if app.user %} #}
            <div>
            <button>voir</button>
            <a href="/profile/edit/{{user.id}}"><button>modifier</button></a>
            </div>
            {# {% endif %} #}
            
            {# left column for screen>1200px #}
            <div class="col-xl" >
                <img src="{{ asset("uploads/images/" ~ user.photo) }}" class="imgProfileClass img-fluid img-thumbnail" alt="{{user.photo}}">
                <p>note: </p>
            </div>

            {# rigth column for screen>1200px#}
            <div class="col-xl row" >
                {# part name town #}
                <div class="col-xl">
                    <h2>{{user.pseudo}}</h2>
                    <p>ville de {{user.town.name}} ({{user.town.zipcode}})</p>
                </div>

                {# part pref numberOfTrip #}
                <div class="col-xl">
                    <div class="profileCarContainerClass">
                        <h4>Véhicule(s):</h4>
                            <p>
                            marque <br>
                            modele <br>
                            </p>
                            {% if app.user %}
                            <button>Modifier</button>
                            {% endif %}
                    </div>
                </div>
                <div class="col-xl">
                    <div class="col userpref">
                        <h4>Préférences:</h4>
                    </div> 
                    <div class="col numberOfTrip">
                        <p>nombre de trajet: <br>
                        quelques exemples:
                        </p>
                    </div>
                </div>

            </div>   
        </article>
    </section>
</main>
{% endblock %}
