{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<main>
    <section class="container">
<<<<<<< HEAD
        <article class="">
            {# bouton voir/modifier #}
            {# {% if app.user %} #}
            <div>
            <button>voir</button>
            <button>modifier</button>
            </div>
            {# {% endif %} #}
            
            {# left column #}
            <div class="" >
                <img src="{{ asset("uploads/" ~ user.photo) }}" class="img-fluid img-thumbnail" alt="{{user.photo}}">
=======
        <article class="profileUserClass">

            {# left column #}
            <div class="" >
                <img src="{{ asset("uploads/" ~ user.photo) }}" class="imgProfileClass" alt="{{user.photo}}">
>>>>>>> f28d4aa2b7ad1dbc2ec3f331e4f58da10c820ff8
                <p>note: </p>
            </div>

            {# rigth column#}
            <div class="" >
                {# part name town #}
                <div>
                    <h2>{{user.pseudo}}</h2>
                    <p>ville de {{user.town.name}} ({{user.town.zipcode}})</p>
                </div>

                {# part pref numberOfTrip #}
                <div>
                    <div class="profileCarContainerClass">
                    <h4>Véhicule(s):</h4>
                        <p>
                        marque <br>
                        modele <br>
                        </p>
                        {% if app.user %}
                        <button>Modifier</button>
                        {% endif %}
                    </div>
                    <div class="userpref">
                        <h4>Préférences:</h4>
                    </div>
                    <div class="numberOfTrip">
                        <p>nombre de trajet: <br>
                        quelques exemples:
                        </p>
                    </div>
                </div>

            </div>   
        </article>
    </section>
</main>
{% endblock %}
