{% extends 'base.html.twig' %}

{% block title %}covoit{% endblock %}

{% block body %}


    <section class="container-fluid">
        <table class ="col-12">
            <thead class ="col-12">
                <tr>
                    <td class="col-2"> </td>
                    <td class="col-2">Tot</td>
                    <td class="col-2">Actifs</td>
                    <td class="col-2"> </td>
                    <td class="col-2">En cours</td>
                    <td class="col-2">Annulés</td>
            </tr>
            </thead>
            <tbody>
                <tr class ="col-12">
                    <td>User</td>
                    <td> {{nbUsers}}</td>
                    <td> {{nbActiveUsers}}</td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                <tr class ="col-12">
                    <td>Trip </td>
                    <td> {{nbCreesTrips}}</td>
                    <td> </td>
                    <td> </td>
                    <td> {{nbTripCours}} </td>
                    <td> </td>
                </tr>
                <tr class ="col-12">
                    <td>  - Trip du conducteur {{idUser}}</td>
                    <td> {{ nbAllTripByUser }} </td>
                    <td> </td>
                    <td> </td>
                    <td> {{nbTripCoursByUser}} </td>
                    <td> </td>
                </tr>
                
                <tr class ="col-12">
                    <td>  - Trip periode : </td>
                    <td> dateref = {{dateRef}} </td>
                    <td> - nb J/M/A : {{nbJMY}} </td>
                    <td> - Signe : {{signe1}} </td>
                    <td> {{nbTripsPeriode}} </td>
                    <td> </td>
                </tr>
                
                <tr class ="col-12">
                    <td>  - Trip conduct {{idUser}}  periode : </td>
                    <td> dateref = {{dateRef2}} </td>
                    <td> - nb J/M/A : {{nbJMY}}  </td>
                    <td> - Signe : {{signe2}} </td>
                    <td> {{nbTripsPeriodeConduct}} </td>
                    <td> </td>
                </tr>

                <tr class ="col-12">
                    <td> Resas All <br>
                         Resas En cours</td>
                    <td> nb trips : {{ nbTripTot }}  <br> {{nbTripEnCours}} </td>
                    <td>  nb Places :  {{ nbPlacesTripTot }}  <br> {{nbPlacesTripEnCours}}  </td>
                    <td> nb Resas : {{ nbResaTot }}   <br> {{nbResaEnCours}} </td>
                    <td> nb Places : {{ nbPlacesTot }}   <br> {{nbPlacesEnCours}}  </td>
                    <td> Acceptées : {{  nbPlacesTotAccept }}   <br> {{nbPlacesAcceptEnCours}}   </td>
                </tr>
            </tbody>
        </table>

        <div class="mt-3 mb-3">
            <span> Voiture  :  {{ drivers[0].car}}  ==>> conducteurs  : </span>
            {% for data in drivers %}    
                <span> {{ data.driver.pseudo}} - </span> 
            {% endfor %}
        </div>
    </section>


    <main class="container">
        <h1> Partager autrement</h1>

        <section id = "homeChifMess"  class="row" >
        
            <div id= "homeChiffres" class="col-12 col-md-9">
                <p class="row" >
                    <span class="cercle">  {{nbActiveUsers}} </span>
                    <span> Utilisateurs</span>
                </p>
                <p class="row" >
                    <span class="cercle">  {{nbTripCours}} </span>
                    <span> Trajets dispo</span>
                </p>
            </div>
        
            <div id= "homeMessage" class="col-md-3">
                <span > Ensemble depuis plus de {{nbAnnees}} ans </span>
                <span >  </span>
            </div>
        
        </section>



        <section id="homeRechResa">

            <h2>  {{nbTripCours}} trajets disponibles</h2>
            <h4>  Y a t'il le votre ?</h4>
            <form action="">



        
            </form>
                {# <h2>  {{nbTripRech}} trajets disponibles</h2> #}
        </section>




        <section id="homeCarousel">
        
        </section>
    </main>

{% endblock %}
