{% extends 'base.html.twig' %}

{% block title %}covoit{% endblock %}

{% block body %}
<main class="heightClass">

    <div class="homeClass">

        <h1 class="searchTilteHomeClass"> Partager autrement, Voyager infiniment!</h1>

        <section id = "homeChifMess" class="d-flex justify-content-between align-items-center">
            <div id= "homeChiffres" >
                <div class="row" >
                    <span class="cercle textCercle">  {{nbActiveUsers}} </span>
                    <span class ="textCercle"> Utilisateurs </span>
                </div>
                <div class="row" >
                    <span class="cercle textCercle">  {{nbDispoTrips}} </span>
                    <span class ="textCercle"> Trajets </span>
                </div>
                <div class="row" >
                    <span class="cercle textCercle">  {{nbResaAvant}} </span>
                    <span class ="textCercle"> Réservation  </span>
                </div>
            </div>
        
            <div class= "homeMessage d-none d-lg-block" >
                <p > Ensemble depuis plus de <b> {{nbAnnees}} </b> ans </p>
            </div>
        </section>

        <section id="homeRechResa">
            <h2 class="texteCenter availableTripHomeClass">  {{nbTripCours}} trajets disponibles</h2>
            <h4>  Recherchez le votre :</h4>
            {# <form action="#">
                <input type="number" name="Départ" id="villeDep" placeHolder ="Num ville de départ" >
                <input type="number" name="Arrivée" id="villeArr"  placeHolder ="Num ville d'arrivée" >
                <button type ="submit"> Rechercher</button>
            </form> #}

            {{ form_start(form,
            {
                'attr':{
                    'id': 'searchForm',
                    'class': 'searchHomeForm'
                },
                'method': 'post'  
            }
            ) }}
{#                 <input type="number" name="depart" id="villeDep" placeholder="Num ville de départ" required>
                <input type="number" name="arrivee" id="villeArr" placeholder="Num ville d'arrivée" required> #}

                <span class="tripSearchFormItemClass tripSearchTownFormItemClass">
                    {{ form_row(form.town_start, {
                        'attr': {
                            'class': 'town_autocomplete',
                        }
                    }) }}
                    {{ form_row(form.town_start_id) }}<!-- Champ caché pour l'ID de la ville de départ -->
                </span>

                <span class="tripSearchFormItemClass tripSearchTownFormItemClass">
                    {{ form_row(form.town_end, {
                        'attr': {
                            'class': 'town_autocomplete',
                        }
                    }) }}
                    {{ form_row(form.town_end_id) }}<!-- Champ caché pour l'ID de la ville d'arrivée -->
                </span>

                <button type="submit" class="buttonClass tripSearchFormbuttonClass tripHomeSearchFormbuttonClass">Rechercher</button>

            {{ form_row(form._token) }}

            {{ form_end(form,{'render_rest':false}) }}


            <div id="resultRech">
                {# // Contruction de la div dans le js #}
            </div>  



        </section>


        <section id="homeCarousel" class="homeSectionCarouselClass">
            <h2 class="homeCarouselTitelClass">  Vous avez la parole </h2>
            <div class="homeCarouselWrapClass">
                <div class="homeCarouselClass"> Carousel 
                </div>
            </div>
        </section>

    </div>

</main>

{% endblock %}
