{% extends 'base.html.twig' %}

{% block title %}Votre recherche{% endblock %}

{% block body %}

<main class="heightClass">

    <div class="tripSearchResultPageClass">
        <h1 class="tripSearchResultTitlePageClass">Votre recherche</h1>
        <div class="tripSearchResultWrapClass"> 
            <h2 class="tripSearchResultTitleWrapClass">Résultats de la recherche</h2>
            <div class="tripSearchResultPathClass"><p>Trajet de&nbsp;</p><h4>{{ town_start }}</h4><p>&nbsp;à&nbsp; </p> <h4> {{ town_end }}</h4></div>

            {% for resultat in resultats %}
        <div class="tripSearchResultItemClass">
            <div class="tripSearchResultItemDateClass"><h4>Date :</h4><p>&nbsp; {{ date_start|date('Y-m-d') }}</p></div>
            <div class="tripSearchResultItemNbPasClass"><h4>Nombre de passagers :</h4><p>&nbsp; {{ nb_passenger }}</p></div>
           {%  dump(resultat) %}
            {# <div><a href="{{ path('app_tripresult_show', { 'id': resultat.id }) }}">Voir le trajet</a></div> #}
        </div>

                
            {% endfor %}

        </div>
    </div> 

</main>

{% endblock %}
